<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/delete.css">
  <script src="https://kit.fontawesome.com/fbbf5fdafa.js" crossorigin="anonymous" defer></script>
</head>
<body>
  <div class="dark"></div>

  <div class="login_popup">
    <i class="fa-regular fa-hand-point-up"></i>
    <strong>앗! 기록을 삭제하시겠어요?</strong>
    <p>신중히 생각해 주세요! 🧡</p>
    <div class="btn_login">
      <button class="btn_yes">
        예
      </button>
      <button class="btn_no">
        아니요
      </button>
    </div>
    <button class="btn_close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</body>
</html>