<div class="common_layout">
  <div class="header_layout"
    style="z-index:50; position:fixed; top: 0; left: 0; height: 50px; width: 100%; background: rgba(255, 255, 255, 0.2); padding: 20px;">
    <h1>WYWL</h1>
    <img src="../../static/img/logo_white.svg" alt="logo" style="width: 50px; position: absolute; top:0; left: 50%;
transform: translateX(-100%);">
  </div>
  {% block content %}
  {% endblock %}
  <div class="footer_layout"
    style="position: fixed; bottom: 0; left: 0; height: 30px; width: 100%; background:  rgba(255, 255, 255, 0.2); padding: 20px;">
    <div class="footer" style="width: 500px; height: 100%; margin: 0 auto;">
      <ul class="footer_item1"
        style="list-style: none;
    display: flex; justify-content: space-between; width: 300px; color: rgb(25, 4, 4); font-weight: 900; font-size: 12px; margin-bottom: 5px; padding-left: 90px;">
        <li style="cursor: pointer;">Shin joo young</li>
        <li style="cursor: pointer;">Park ha eun</li>
        <li style="cursor: pointer;">Shin hee je</li>
      </ul>
      <ul class="footer_item2"
        style="list-style: none;
    display: flex; justify-content: space-evenly; color: rgb(25, 4, 4); font-weight: 900; font-size: 12px; padding-right: 30px;">
        <li style="cursor: pointer;">18team</li>
        <li style="cursor: pointer;">아기공룡 둘리</li>
        <li style="cursor: pointer;">고길동</li>
        <li style="cursor: pointer;">도우너</li>
        <li style="cursor: pointer;">Project</li>
      </ul>
    </div>
  </div>
</div>