<div class="p_alert" style="display:none;">
    <div class="dark p_alert" style="display:none;"></div>
    <div class="login_popup">
        <span id="sad" class="p_emoji" style="display:none; font-size:250px; margin-bottom: 30px;">😥</span>
        <span id="love" class="p_emoji" style="display:none; font-size:250px; margin-bottom: 30px;" >😘</span>
        <span id="smail" class="p_emoji" style="display:none; font-size:250px; margin-bottom: 30px;">😊</span>
        <strong id="msg_p_alert">메세지 자리</strong>
        <div class="btn_login">
            <button id="btn_p_alert_yes" class="btn_yes">
                예
            </button>
            <button id="btn_p_alert_no" class="btn_no">
                아니요
            </button>
        </div>
        <button id="btn_p_alert_close" class="btn_close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</div>