<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What's your weather like</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../static/css/home.css">
  <script>
    let w_type = `{{ weather_type }}`
    window.onload = function () {
      // 날씨
      get_weather_type(w_type)
    }

    function get_weather_type(weather_type) {
      let w_type = weather_type;
      if (w_type.includes('맑음')) {
        document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_mostly_sunny.mp4")
      } else if (w_type.includes('흐림') || w_type.includes('구름') || w_type.includes('흐리고') || w_type.includes('흐린')) {
        document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_partly_cloudy.mp4")
      } else if (w_type.includes('비') || w_type.includes('소나기') || w_type.includes('강우') || w_type.includes('뇌우')) {
        document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_rain_train.mp4")
      } else {
        document.getElementById("b_viedo").setAttribute('src', "../static/video/ocean.mp4")
      }
    }

  </script>
</head>

<body>
  <!-- home.html -->
  <video src="../static/video/home.mp4" autoplay loop muted id="b_viedo"></video>
  <img src="../static/img/logo.svg" alt="logo" class="logo">
  <h1 class="title">What's your weather like?</h1>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h2>23년 02월 15일</h2>
        <p>고길동 님의 날씨</p>
        <span>🤬</span>
      </div>

      <div class="swiper-slide">
        <h2>23년 02월 21일</h2>
        <p>둘리 님의 날씨</p>
        <span>😆</span>
      </div>

      <div class="swiper-slide">
        <h2>23년 02월 27일</h2>
        <p>또치 님의 날씨</p>
        <span>😫</span>
      </div>

      <div class="swiper-slide">
        <h2>23년 03월 05일</h2>
        <p>도우너 님의 날씨</p>
        <span>😀</span>
      </div>

      <div class="swiper-slide last">
        <a href="#">
          <img src="../static/img/plus-solid.svg" alt="">
        </a>
      </div>
    </div>
  </div>

  <a href="login" id="signin-link"><button>Sign in</button></a>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
    });
  </script>
</body>

</html>