<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's your weather like</title>
</head>
<body>
    <!-- common/layout.html -->
    {% extends "common/layout.html" %}
    {% block content %}
    <!-- home.html -->
    <div>
        <h2>해당 페이지의 내용입니다!!!!@@@</h2>
    </div>  
    {% include "common/pop.html"  ignore missing %}
    {% endblock %}
</body>
</html>