박하은
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's your weather like</title>
    <link rel="stylesheet" href="../static/css/mood.css">
    <script>
        let curIcon = ''                    // 아이콘 변수
        let w_type = `{{ weather_type }}`   // 날씨 변수
        let username = sessionStorage.getItem("username"); // 세션 정보
        let isEmpty = true                                 // 세션 정보 존재 여부

        window.onload = function () {
            get_weather_type(w_type)        // 날씨 배경 적용 함수 호출
            isEmpty = set_page(username)    // 세션 정보 확인 함수
            if (!isLoggedIn()) { // 로그인이 되지 않은 경우 로그인 페이지로 이동
                alert("로그인 후 이용 가능합니다.");
                window.location.href = "/login";
            } else {
                listing()
                document.getElementById('date').value = new Date().toISOString().substring(0, 10);
                const moodIconArr = document.getElementsByClassName('mood_span')
                Array.prototype.forEach.call(moodIconArr, a => {
                    a.addEventListener('click', () => {
                        Array.prototype.map.call(moodIconArr, b => b.classList.remove('active'))
                        a.classList.add('active');
                        curIcon = a.innerText
                    })
                })
                // 로그인이 완료되면 로컬 스토리지에 저장된 값을 불러옵니다.
                loadDraft();
                // 페이지가 로드되면 사용자의 mood 데이터와 저장된 내용을 가져옵니다.
                loadUserMoods();
                // 로그인 상태를 확인하고 로그인 후 돌아온 경우 기존 작성 내용을 보여주기
                checkLoginStatus();
            }
        };

        // 로그인 후 돌아온 경우 기존 작성 내용을 보여주기
        if (isLoggedIn()) {
            loadDraft();
        }

        function isLoggedIn() {
            return username !== null && username !== undefined && username !== "";

        }

        function saveDraft() {
            const comment = document.getElementById('comment').value; // comment input의 값을 가져옵니다.
            const moodIcon = document.getElementById('moodIcon').value; // moodIcon input의 값을 가져옵니다.

            // 로컬 스토리지에 저장
            localStorage.setItem('draft_comment', comment);
            localStorage.setItem('draft_moodIcon', moodIcon);
        }

        function checkLoginStatus() {
            if (isLoggedIn()) {
                loadDraft();
            }
        }

        // 저장된 내용이 있다면 화면에 표시하는 함수
        function loadDraft() {
            const draft_date = localStorage.getItem('draft_date');
            const draft_moodIcon = localStorage.getItem('draft_moodIcon');
            const draft_comment = localStorage.getItem('draft_comment');

            if (draft_date !== null) {
                document.getElementById('date').value = draft_date;
            }
            if (draft_moodIcon !== null) {
                curIcon = draft_moodIcon;
                const moodIconArr = document.getElementsByClassName('mood_span');
                for (const icon of moodIconArr) {
                    if (icon.textContent === draft_moodIcon) {
                        icon.classList.add('active');
                        break;
                    }
                }
            }
            if (draft_comment !== null) {
                document.getElementById('comment').value = draft_comment;
            }
        }

        // 페이지가 로드되면 사용자의 mood 데이터와 저장된 내용을 가져옵니다.

        function listing() {
            fetch('/login').then((res) => res.json()).then((data) => {
                let rows = data['result']
                rows.forEach((a) => {
                    let comment = a['comment']
                    $('#cards-box').append(temp_html)
                })
            })
        }

        function posting(isEmpty) {
            // 로그인 여부 확인
            if (!isLoggedIn()) {
                saveDraft(); // 로컬 스토리지에 값을 저장
                alert("로그인 후 이용 가능합니다.");
                window.location.href = "/login"; // 로그인 페이지로 이동
            } else {
                let date = document.querySelector('#date').value
                let text = document.querySelector('#text').value
                let moodIcon = curIcon

                // 세션 정보가 비어있지 않으면 포스팅 동작
                console.log(isEmpty)
                if (!isEmpty) {
                    let formData = new FormData();
                    formData.append("date_give", date);
                    formData.append("comment_give", text);
                    formData.append("moodIcon_give", moodIcon);
                    formData.append("user_nm_give", username);
                    fetch('/mood', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                        console.log(data['msg'])
                        alert(data['msg'])
                        // window.location.reload()
                        window.location.href = "/mypage"; // 마이페이지로 이동
                    });
                } else {
                    alert("로그인 후 이용 가능합니다.");
                    window.location.href = "/login"; // 로그인 페이지로 이동
                }
            }
        }

        /*
            날씨 가져오기 함수. 날씨값에 따라 화면 변경
        */
        function get_weather_type(weather_type) {
            let w_type = weather_type;
            if (w_type.includes('맑음')) {
                document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_sunny.mp4")
            } else if (w_type.includes('흐림') || w_type.includes('구름') || w_type.includes('흐리고') || w_type.includes('흐린')) {
                document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_partly_cloudy.mp4")
            } else if (w_type.includes('비') || w_type.includes('소나기') || w_type.includes('강우') || w_type.includes('뇌우')) {
                document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_rain_train.mp4")
            } else {
                document.getElementById("b_viedo").setAttribute('src', "../static/video/ocean.mp4")
            }
        }

        /*
            세션 정보에 따라 화면 세팅 변경 함수. 세션 정보가 있으면 저장가능, 아니면 불가.
         */
        function set_page(username) {
            let isEmpty = true
            if (username == "" || username == null || username == undefined || (username != null && typeof username == "object" && !Object.keys(username).length)) {
                console.log("############ 세션 없음")
                isEmpty = true
            } else {
                console.log("############ 세션 있음")
                isEmpty = false
            }
            return isEmpty
        }
    </script>
</head>

<body>
    <!-- common/layout.html -->
    {% extends "common/layout.html" %}
    {% block content %}
    <video src="../static/video/ocean.mp4" autoplay loop muted class="b_video" id="b_viedo"></video>
    <!-- home.html -->
    <div class="container">
        <div class="main_wrap">
            <h2>지금 당신의 기분은?</h2>

            <div class="mood_box">
                <span class="mood_span">😀</span>
                <span class="mood_span">😆</span>
                <span class="mood_span">😫</span>
                <span class="mood_span">😕</span>
                <span class="mood_span">🤬</span>
            </div>

            <label for="date" class="date_Wrap">
                날짜를 선택하세요 :
                <input type="date" id="date" max="2023-12-31" min="2023-03-27">
            </label>

            <label for="text">
                <textarea name="text" id="text" cols="9" rows="9"></textarea>
            </label>

            <button id="mood_btn" class="submit_btn" type="button" onclick="posting(isEmpty)">
                저장하기
            </button>
        </div>
        <!-- {% include "common/pop.html"  ignore missing %} -->
    </div>
    {% endblock %}
</body>

</html>