<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's your weather like</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../../static/css/delete.css">
    <script src="https://kit.fontawesome.com/fbbf5fdafa.js" crossorigin="anonymous" defer></script>
    <script>
        // 닉네임 사용 가능 여부
        let chkr = false
        // 비밀번호 일치 여부
        let chpw = false

        let w_type = `{{ weather_type }}`

        window.onload = function () {
            // 날씨
            get_weather_type(w_type)

            let nm_input = document.getElementById("user_nm");
            nm_input.addEventListener("input", function (event) {
                if (event.inputType == "deleteContentBackward") {
                    if (nm_input.value == "") {
                        document.getElementsByClassName('input-group-nm-result')[0].innerHTML = ""
                        document.getElementById('chk_nm_btn').setAttribute("disabled", "disabled");
                        chkr = false
                    }
                } else {
                    // 입력된 값이 특정 패턴과 일치하지 않으면 제거
                    const regex = /^[ㄱ-ㅎㅏ-ㅣ가-힣]*$/
                    if (!regex.test(nm_input.value)) {
                        nm_input.value = nm_input.value.replace(/[^ㄱ-ㅎㅏ-ㅣ가-힣]/g, "")
                    } else {
                        document.getElementsByClassName('input-group-nm-result')[0].innerHTML = "중복검사를 해주세요~"
                        document.getElementById('chk_nm_btn').removeAttribute("disabled");
                        chkr = false
                    }
                }
            })
        }

        /* 
        닉네임 중복체크
         */
        function chk_nm() {
            let formData = new FormData()
            let user_nm_input = document.getElementById('user_nm')
            formData.append("user_nm", user_nm_input.value)
            fetch('/chk_nm', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                // 사용가능 여부 확인
                chkr = data["chkr"]
                if (chkr) {
                    document.getElementsByClassName('input-group-nm-result')[0].innerHTML = data["msg"]
                    document.getElementById('chk_nm_btn').setAttribute("disabled", "disabled");
                    user_nm_input.addEventListener("keyup", function () {
                        chkr = false
                        document.getElementsByClassName('input-group-nm-result')[0].innerHTML = "중복검사를 해주세요."
                        document.getElementById('chk_nm_btn').removeAttribute("disabled");
                    })
                } else {
                    document.getElementsByClassName('input-group-nm-result')[0].innerHTML = data["msg"]
                    user_nm_input.addEventListener("keyup", function () {
                        chkr = false
                        document.getElementsByClassName('input-group-nm-result')[0].innerHTML = "중복검사를 해주세요."
                        document.getElementById('chk_nm_btn').removeAttribute("disabled");
                    })
                }
            })
        }

        /* 
        비밀번호 일치 확인
         */
        function confirm_pw() {
            let password = document.getElementById("user_pw");
            let confirmPassword = document.getElementById("confirm_pw");
            chpw = false
            if (password.value !== confirmPassword.value) {
                document.getElementsByClassName('input-group-confirm')[0].innerHTML = "비밀번호가 일치하지 않습니다."
                document.getElementById('sign_up_btn').setAttribute("disabled", "disabled");
                chpw = false
            } else {
                document.getElementsByClassName('input-group-confirm')[0].innerHTML = "비밀번호가 일치합니다."
                document.getElementById('sign_up_btn').removeAttribute("disabled");
                chpw = true
            }
        }

        /* 
            회원가입 함수. 회원가입시 입력한 정보를 바탕으로 등록 및 리다이렉트 처리
         */
        function sign_up() {
            if (chkr && chpw) {
                let formData = new FormData()
                let user_nm = document.getElementById("user_nm").value
                let user_pw = document.getElementById("user_pw").value
                formData.append("user_nm", user_nm)
                formData.append("user_pw", user_pw)

                fetch('/register', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                    set_popup('love', data['msg'], false, '/mood', true, true, user_nm)     
                })
            } else {
                document.getElementById("user_nm").focus()
            }
        }

        /*
            팝업 표시를 위한 설정 함수
            String s_p_type : 표시할 팝업의 타입, [love|sad|smail]
            String s_p_msg : 팝업에 표시할 메세지
            Boolean b_p_btn : 버튼 사용 여부 [true - 둘다 사용|false-'예'만 사용]
            String s_url : 호출할 화면 url
            Boolean b_p_close : 닫기버튼 활성 여부, [true - 닫기버튼 이벤트|false-'예' 이벤트와 동일]
            Boolean b_p_session : 세션 활성화 여부, [true - 세션을 바로 담아서 넘겨줘야 하는 경우 ex)회원가입 완료후 로그인 처리 |false-세션 이미 들어있거나 상관 없음]
            String s_p_user_name : 사용자명, 세션 유지 및 안내 메시지에서 사용 가능
         */
         function set_popup(s_p_type, s_p_msg, b_p_btn, s_url, b_p_close, b_p_session, s_p_user_name) {
            // 팝업 표시
            for (i = 0; i < document.getElementsByClassName("p_alert").length; i++) {
                document.getElementsByClassName("p_alert")[i].style.display = "block"
            }
            // 아이콘 표시
            document.getElementById(s_p_type).style.display = "block"

            // 버튼 표시
            if (!b_p_btn) {
                // 아니오 버튼 표시 안함
                document.getElementById("btn_p_alert_no").style.display = "none"
                // 예 버튼 크기 늘리기
                document.getElementById("btn_p_alert_yes").style.width = "100%"
            }

            // 이벤트 걸기
            if (!b_p_btn) {
                // 예
                document.getElementById("btn_p_alert_yes").addEventListener("click", function () {
                    window.location.href = s_url
                })
            } else {
                // 예
                document.getElementById("btn_p_alert_yes").addEventListener("click", function () {
                    window.location.href = s_url
                })
                // 아니오
                document.getElementById("btn_p_alert_no").addEventListener("click", function () {
                    for (i = 0; i < document.getElementsByClassName("p_alert").length; i++) {
                        document.getElementsByClassName("p_alert")[i].style.display = "none"
                    }
                })
            }

            // 닫기버튼 활성 여부
            if (b_p_close) {
                document.getElementById("btn_p_alert_close").addEventListener("click", function () {
                    window.location.href = s_url
                })
            } else {
                document.getElementById("btn_p_alert_close").addEventListener("click", function () {
                    for (i = 0; i < document.getElementsByClassName("p_alert").length; i++) {
                        document.getElementsByClassName("p_alert")[i].style.display = "none"
                    }
                })
            }

            // 세션 넣어주기
            if(b_p_session){
                sessionStorage.setItem("username", s_p_user_name);
            }

            // 메세지 내용 넣기
            document.getElementById("msg_p_alert").innerText = s_p_user_name+"님\n"+s_p_msg
        }

        /*
            날씨 가져오기 함수. 날씨값에 따라 화면 변경
        */
        function get_weather_type(weather_type) {
            let w_type = weather_type;
            if (w_type.includes('맑음')) {
                document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_sunny.mp4")
            } else if (w_type.includes('흐림') || w_type.includes('구름') || w_type.includes('흐리고') || w_type.includes('흐린')) {
                document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_partly_cloudy.mp4")
            } else if (w_type.includes('비') || w_type.includes('소나기') || w_type.includes('강우') || w_type.includes('뇌우')) {
                document.getElementById("b_viedo").setAttribute('src', "../static/video/weather/w_rain_train.mp4")
            } else {
                document.getElementById("b_viedo").setAttribute('src', "../static/video/ocean.mp4")
            }
        }


    </script>
</head>

<body>
    {% extends "common/layout.html" %}
    {% block content %}
    <video src="../static/video/ocean.mp4" autoplay loop muted class="b_video" id="b_viedo"></video>

    <div class="wrap_content">
        <h2 class="fir_title">당신의 날씨를 기록하세요!</h2>

        <h2 class="sec_title">sign up</h2>

        <span class="guide">* 표시된 항목은 필수 입력입니다.</span>

        <div class="register-info">
            <div class="input-group">
                <div class="input_group_row1">
                    <span class="star1">* </span><input id="user_nm" type="text" class="form-control"
                        pattern="^[ㄱ-ㅎㅏ-ㅣ가-힣]*$" requiredplaceholder placeholder="닉네임" />
                    <button onclick="chk_nm()" type="button" id="chk_nm_btn" disabled="disabled"
                        class="regist_btn">확인하기</button>
                </div>
            </div>
            <div class="input-group-result_text input-group-nm-result"></div>
        </div>
        <div class="input-group">
            <div class="input_group_row2">
                <span class="star2">* </span><input id="user_pw" type="password" class="form-control"
                    oninput="confirm_pw()" required placeholder="비밀번호" />
                <span class="star3">* </span><input id="confirm_pw" type="password" class="form-control"
                    oninput="confirm_pw()" required placeholder="비밀번호 확인" />
            </div>
            <div class="input-group-result_text input-group-confirm"></div>
        </div>

        <button onclick="sign_up()" id="sign_up_btn" type="button" disabled="disabled" class="regist_btn">
            회원 가입하기
        </button>
    </div>
    {% include "common/popup_test.html" ignore missing %}
    </div>
    {% endblock %}
</body>

</html>